*.gcda
*.gcno
*.lo
*.o
*.pem
*_state[1|2]
.cache/
.clangd/
.deps
.dirstamp
.libs
.vscode/
/
/*.bak
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/AUTHORS
/Doxyfile
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile-fuzz-generated.am
/Makefile.in
/NVChip
/TAGS
/aclocal.m4
/aminclude_static.am
/ar-lib
/autom4te.cache
/autoscan.log
/ca
/compile
/compile_commands.json
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/install-sh
/lib/tss2-esys.pc
/lib/tss2-fapi.pc
/lib/tss2-mu.pc
/lib/tss2-policy.pc
/lib/tss2-rc.pc
/lib/tss2-sys.pc
/lib/tss2-tcti-cmd.pc
/lib/tss2-tcti-device.pc
/lib/tss2-tcti-i2c-ftdi.pc
/lib/tss2-tcti-i2c-helper.pc
/lib/tss2-tcti-libtpms.pc
/lib/tss2-tcti-mssim.pc
/lib/tss2-tcti-null.pc
/lib/tss2-tcti-pcap.pc
/lib/tss2-tcti-spi-ftdi.pc
/lib/tss2-tcti-spi-helper.pc
/lib/tss2-tcti-spi-ltt2go.pc
/lib/tss2-tcti-spidev.pc
/lib/tss2-tcti-swtpm.pc
/lib/tss2-tctildr.pc
/libtool
/libutil-io.la
/libutil.la
/ltmain.sh
/m4/ax_ac_append_to_file.m4
/m4/ax_ac_print_to_file.m4
/m4/ax_add_am_macro_static.m4
/m4/ax_add_fortify_source.m4
/m4/ax_am_macros_static.m4
/m4/ax_check_compile_flag.m4
/m4/ax_check_enable_debug.m4
/m4/ax_check_gnu_make.m4
/m4/ax_check_link_flag.m4
/m4/ax_check_preproc_flag.m4
/m4/ax_code_coverage.m4
/m4/ax_file_escapes.m4
/m4/ax_is_release.m4
/m4/ax_normalize_path.m4
/m4/ax_prog_doxygen.m4
/m4/ax_recursive_eval.m4
/m4/ax_valgrind_check.m4
/m4/libtool.m4
/m4/ltdl.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/pkg.m4
/man/man3/Tss2_TctiLdr_Finalize.3
/man/man3/Tss2_TctiLdr_FreeInfo.3
/man/man3/Tss2_TctiLdr_GetInfo.3
/man/man3/Tss2_TctiLdr_Initialize.3
/man/man3/Tss2_Tcti_Cmd_Init.3
/man/man3/Tss2_Tcti_Device_Init.3
/man/man3/Tss2_Tcti_Mssim_Init.3
/man/man7/tss2-tcti-cmd.7
/man/man7/tss2-tcti-device.7
/man/man7/tss2-tcti-i2c-ftdi.7
/man/man7/tss2-tcti-i2c-helper.7
/man/man7/tss2-tcti-mssim.7
/man/man7/tss2-tcti-spi-ftdi.7
/man/man7/tss2-tcti-spi-helper.7
/man/man7/tss2-tcti-spi-ltt2go.7
/man/man7/tss2-tcti-spidev.7
/man/man7/tss2-tcti-swtpm.7
/man/man7/tss2-tctildr.7
/missing
/mkinstalldirs
/so_locations
/src/tss2-esys/libtss2-esys.la
/src/tss2-mu/libtss2-mu.la
/src/tss2-rc/libtss2-rc.la
/src/tss2-sys/libtss2-sys.la
/src/tss2-tcti/libtss2-tcti-cmd.la
/src/tss2-tcti/libtss2-tcti-device.la
/src/tss2-tcti/libtss2-tcti-i2c-helper.la
/src/tss2-tcti/libtss2-tcti-mssim.la
/src/tss2-tcti/libtss2-tcti-null.la
/src/tss2-tcti/libtss2-tcti-pcap.la
/src/tss2-tcti/libtss2-tcti-spi-helper.la
/src/tss2-tcti/libtss2-tcti-spi-ltt2go.la
/src/tss2-tcti/libtss2-tcti-spidev.la
/src/tss2-tcti/libtss2-tcti-swtpm.la
/src/tss2-tcti/libtss2-tctildr.la
/src_vars.mk
/stamp-h1
/tags
/test-driver
/test-suite-drd.log
/test-suite-helgrind.log
/test-suite-memcheck.log
/test-suite-sgcheck.log
/test-suite.log
/test/integration/*.crl
/test/integration/*.crt
/test/integration/*.fint.*
/test/integration/*.fint_*-ca.pem
/test/integration/*.fint_ek*
/test/integration/*.fint_state*
/test/integration/*.int_state*
/test/integration/*.log
/test/tpmclient/*.int_state*
/test/tpmclient/*.log
/test/unit/*.log
/test/unit/esys-crypto.log
/test/unit/esys-crypto.test
/test/unit/esys-crypto.trs
/tpm2-tss-4.1.0-198-ga303963b-dirty.tar.gz
/ylwrap
_libs
